<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="first.css"/>
</head>
<body>
    <div class="join-create-container">
        <span id="heading">Create or Join room</span>
        <div class="form">
            <input type="text" id="userName" placeholder="username" required/>
            <input type="text" id="roomId" placeholder="room id you want to join or create" required/>
            <button id="start">Start</button>
        </div>
    </div>
    <script src="first.js"></script>
</body>
</html>