body{
    width:100vw;
    height: 100vh;
    background-color:rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.join-create-container{
    width:40vw;
    height:50vh;
    padding-top:20px;
    background-color:rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
}
#heading{
    font-size: 25px;
}
.form{
    margin-top:30px;
    display:flex;
    flex-direction: column;
}
#userName,#roomId,#start{
    width:30vw;
    height:8vh;
    font-size:20px;
    border-radius:10px;
    cursor: pointer;
}
#roomId,#start{
    margin-top:20px;
}
#start{
    background-color:rgb(200, 0, 0);
}
